*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 39, 39);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar{
    display: flex;
    gap: .625rem;
    list-style: none;
    padding-right: 1.875rem;
}
.navBar li a{
    text-decoration: none;
    color: #D962A3;
    font-size: 1.5625rem;
}

.section-principal{
    width: 100%;
    height: 31.25rem;
    display: flex;
    align-items: center;
    background-image: url("../assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-principal div{
    color: #D962A3;
    font-size: 2.5rem;
    margin-left: 1.875rem;
}

.section-principal div button{
    padding: 15px 70px;
    border-radius: 25px;
    background-color:#D962A3;
    color: white;
    border: none;
}

.section-dos{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,25%);
    grid-template-rows: auto 200px;
    justify-content: center;
}
.section-dos div{
    grid-column: 1 /2;
    grid-row: 1 /3;
}
.section-dos div img{
    width: 100%;
}
.section-dos h2{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2.5rem;
    color: #D962A3;
    align-self: center;
    justify-self: center;
}
.section-dos p{
    grid-column: 2 /3;
    grid-row: 2 / 3;
}
.section-tercera h2{
    text-align: center;
    font-size: 3.125rem;
    color: #D962A3;
}
.tienda{
    display: grid;
    width: 100%;
    grid-template-columns: 15% 15% 30%;
    grid-template-areas: 
    "item1 item2 item5"
    "item3 item4 item5"
    ;
    justify-content: center;
    gap: 1.25rem;
    color: #D962A3;
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}


footer{
    display: flex;
    justify-content: center;
}

@media(max-width: 1024px){
    .section-dos{
        grid-template-columns:  auto auto ;
    }
    .tienda{
        grid-template-columns: auto auto auto ;
        grid-template-areas: 
        "item1 item5 item5"
        "item2 item3 item4"
        
        ;
    }
}

@media (max-width: 768px){
   header{
    flex-direction: column;
   }
   .navBar{
    padding-right: none;
   }
   .section-principal{
    justify-content: center;
   }
   .section-tercera{
        display: none;
   }
}
@media(max-width:478px){
    .navBar{
        flex-direction: column;
        align-items: center;
      }
      .section-dos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);
      }
      .section-dos div{
      grid-column: 1 /2;
      grid-row: 2/3;
    }
    .section-dos h2{
       grid-column: 1/2;
       grid-row: 1/2;
    }
    .section-dos p{
        grid-column: 1 /2;
        grid-row: 3 / 4;
    }
    .section-tercera{
       display: inline;
    }
    .tienda{
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
    }
    .item5{
        display: none;
    }
}

@media (max-width: 425px){
    header{
        justify-content: center;
        align-items: center;
    }
 
}